[TRACE]
BUILDFILE = /disk1/ryotta205/GEM5/gem5/build/X86/gem5.opt
CONFIGFILE = /disk1/ryotta205/GEM5/gem5/configs/myconfig/se.py

[BENCHMARK_NAME]
mcf : 
lbm : 
soplex : 
milc : 
libquantum : 
omnetpp : 
bwaves : 
gcc : 
sphinx3 : 
GemsFDTD : 
leslie3d : 
wrf : 
cactusADM : 
zeusmp : 
bzip2 : 
dealII : 
xalancbmk : 

[BENCHMARK]
mcf : inp.in
lbm : 3000 reference.dat 0 0 100_100_130_ldc.of
soplex : -s1 -e -m45000soplex/pds-50.mps > soplex.ref.pds-50.out 2> soplex.ref.pds-50.err
milc : < su3imp.in
libquantum : 1397 8
omnetpp : omnetpp.ini
bwaves : bwaves.in
gcc : 166.i -o 166.s
sphinx3 : ./ctlfile . args.an4
GemsFDTD : 
leslie3d : < leslie3d.in
wrf : 
cactusADM : benchADM.par
zeusmp : 
bzip2 : chicken.jpg 30
dealII : 23
xalancbmk : -v t5.xml xalanc.xsl

[BUILDOPT]
--outdir : /disk1/ryotta205/GEM5_script/out
--stats-file : 

[CONFIGOPT]
--num-cpu  : 1
--cpu-type : TimingSimpleCPU
--sys-clock : 1GHz
--cpu-clock : 2GHz
--mem-type : DDR4_2400_16x4
--mem-channels : 2
--mem-ranks : 4
--mem-size : 32GB
#--enable-dram-powerdown : 
--caches : 
--l2cache : 
--l3cache : 
--num-l2caches : 1
--num-l3caches : 1
--l1d_size : 64kB
--l1i_size : 32kB
--l2_size : 1MB
--l3_size : 1MB
--cacheline_size : 64

--fast-forward : 100000
--maxinsts : 10000000